<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/modern-reset.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Breezed</title>
</head>

<body>
    <header>
        <section class="slideshow">
            <!--  -->
            <nav class="width">
                <a href="index.html" class="brand">
                    <h1>.Breezed</h1>
                </a>
                <ul class="nav-list">
                    <li class="nav-list-link secondary"><a href="index.html">
                            <p>Home</p>
                        </a></li>
                    <li class="nav-list-link"><a href="#about">
                            <p>About</p>
                        </a></li>
                    <li class="nav-list-link"><a href="#">
                            <p>Projects</p>
                        </a></li>
                    <li class="nav-list-link nav-list-drop-link"><a href="#">
                            <p>Drop Down <i class="fas fa-chevron-down"></i></p>
                        </a>
                        <ul class="nav-list-drop-down">
                            <li><a href="#">
                                    <p>About Us</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Features</p>
                                </a></li>
                            <li><a href="#">
                                    <p>FAQ's</p>
                                </a></li>
                            <li><a href="#">
                                    <p>Blogs</p>
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-list-link"><a href="#">
                            <p>Contact Us</p>
                        </a></li>
                    <li class="nav-list-link"><a href="#" class="btn-search">
                            <p><i class="fas fa-search"></i></p>
                        </a></li>
                </ul>
            </nav>
            