<%- include("../partials/header.ejs") %>


    <section class="bullet width">
        <div class="bullet-box">
            <img src="img/rocket-2.png" alt="" class="bullet-box-img">
            <div class="bullet-box-content">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores cum ipsam ipsum! Nobis consequuntur rem
                    .</p>
                <a href="#">Lorem, ipsum. <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="bullet-box">
            <img src="img/rocket-2.png" alt="" class="bullet-box-img">
            <div class="bullet-box-content">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores cum ipsam ipsum! Nobis consequuntur rem
                    .</p>
                <a href="#">Lorem, ipsum. <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="bullet-box">
            <img src="img/rocket-2.png" alt="" class="bullet-box-img">
            <div class="bullet-box-content">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores cum ipsam ipsum! Nobis consequuntur rem
                    .</p>
                <a href="#">Lorem, ipsum. <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </section>

    <section class="email">
        <div class="email-content width">
            <h3>Subscribe Newsletters</h3>
            <h2>Don's miss this chance!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore mollitia repellat aperiam delectus esse
                reprehenderit! Eius odio quia suscipit vitae itaque repellat qui magnam optio.</p>
            <span class="email-content-form">
                <form action="">
                    <input type="email" placeholder="Enter your email..." required>
                    <button type="submit" class="btn">Subscribe Now <i class="fas fa-arrow-right"></i></button>
                </form>
    
            </span>
        </div>
    </section>

<%- include("../partials/footer.ejs") %>