<%- include("../partials/header.ejs") %>


            <section class="intro">
                <p>Lorem, ipsum dolor.</p>
                <h1>Lorem, ipsum dolor.</h1>
                <span class="intro-btns">
                    <a href="#" class="btn">Lorem. lorem</a>
                    <a href="#" class="btn">Lorem. lorem</a>
                </span>
            </section>
        </section>
    </header>

<%- include("../partials/footer.ejs") %>