<%- include("../partials/header.ejs") %>


<section class="projects width" id="projects">

    <div class="projects-nav">
        <h1 class="secondary">Our Projects</h1>
        <h2>Some of our latest projects</h2>
        <ul>
            <li><a href="#">
                    <p>design</p>
                </a> </li>
            <li><a href="#">
                    <p>graphics</p>
                </a></li>
            <li><a href="#">
                    <p>web development</p>
                </a></li>
            <li><a href="#">
                    <p>UX</p>
                </a></li>
            <li><a href="#">
                    <p>see all</p>
                </a></li>
        </ul>
    </div>

    <div class="projects-gallary">
        <img src="img/gallary-1.jpg" alt="" class="project-img">
        <img src="img/gallary-2.jpg" alt="" class="project-img">
        <img src="img/gallary-3.jpg" alt="" class="project-img">
        <img src="img/gallary-4.jpg" alt="" class="project-img">
        <img src="img/gallary-5.jpg" alt="" class="project-img">
        <img src="img/gallary-6.jpg" alt="" class="project-img">
    </div>

</section>
<hr>

<%- include("../partials/footer.ejs") %>